{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Obsah ctverce{% endblock %}

{% block content %}
  <h3>insert</h3>
  <form method="POST" id='insert-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.a) }}
    {{ render_input_field(form.b) }}
    {{ render_submit() }}
  </form>
{% endblock %}
